body {
	padding-top: 50px;
	background-color: #2d2d2d;
	font-family: 'Droid Sans', sans-serif;
	position: relative;
}

h2 {
		font-family: 'Lato', sans-serif;
}

hr {
  border: 0; 
  height: 1px; 
  background-image: -webkit-linear-gradient(left, #fff, #f0f0f0, #8c8b8b, #f0f0f0, #fff);
  background-image: -moz-linear-gradient(left, #fff, #f0f0f0, #8c8b8b, #f0f0f0, #fff);
  background-image: -ms-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0);
  background-image: -o-linear-gradient(left, #f0f0f0, #8c8b8b, #f0f0f0); 
}

.container.my {
	background-color: white;
}

/* ******HEADER */
#hi {
	color: #e8e119;
}
#hi:hover {
	background-color: black;
}
.container .about {
		font-size: 2rem;
}

/*Contacts text in nav */
.nav > li > span {
  position: relative;
  display: block;
}

.navbar-nav > li > span {
  padding: 15px 15px;
  line-height: 20px;
}



.navbar-inverse .navbar-nav > li > span {
  color: #9d9d9d;
}
/*end of contacts*/
/* HEADER END */
/* MAIN */
.about-me-text {
	padding-top: 50px;
}

.lang-skill {
	text-indent: 10px;
}

.photo-box {
	padding: 40px 0;
}

.buffer {
	margin-bottom: 20px;
}
/* MAIN END */
/* FOOTER */
.footer-inverse {
	background: rgb(34, 34, 34);
}

.buffer-top {
	margin-top: 10px;
}