html {
    background: url(images/random-generator-background.jpg) no-repeat center fixed; 
    background-size: cover;
}

body {
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	//background: grey;
	box-sizing: border-box;
	font-size: 16px;
	font-family: 'Abel', sans-serif;
}

.machine {
	//flex: 1;
	padding: 20px;
	max-width: 768px;
	background: white;
	border-radius: 10px;
	margin-right: 50em;
	//display: flex;
}

.machine p {
	font-size: 3rem;
	margin-bottom: 1rem;
}

.buttons {
	
}

button {
  background: #b964f2;
  background-image: -webkit-linear-gradient(top, #b964f2, #4e0b7d);
  background-image: -moz-linear-gradient(top, #b964f2, #4e0b7d);
  background-image: -ms-linear-gradient(top, #b964f2, #4e0b7d);
  background-image: -o-linear-gradient(top, #b964f2, #4e0b7d);
  background-image: linear-gradient(to bottom, #b964f2, #4e0b7d);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:hover {
  background: #ceabdb;
  background-image: -webkit-linear-gradient(top, #ceabdb, #a150bf);
  background-image: -moz-linear-gradient(top, #ceabdb, #a150bf);
  background-image: -ms-linear-gradient(top, #ceabdb, #a150bf);
  background-image: -o-linear-gradient(top, #ceabdb, #a150bf);
  background-image: linear-gradient(to bottom, #ceabdb, #a150bf);
  text-decoration: none;
	cursor: pointer;
}

.fa-twitter {
	color: #00aced;
}

footer {
	margin-top: 5px;
	margin-right: 50em;
}

footer a {
	text-decoration: none;
	color: white;
	background: black;
}